<div class= "row">
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: "fa-list", name: "Course Categories", path: course_categories_path} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: "fa-list-alt", name: "Courses", path: courses_path} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: "fa-file-o", name: "Course Material", path: course_attachments_path} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-envelope", name: "News Feeds", path: newsfeeds_path} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-bar-chart", name: "KPI Reports", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
</div>
<br />
<div class= "row">
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
</div>
<br />
<div class= "row">
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
</div>
<br />
<div class= "row">
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
    <%= render partial: "/shared/display_icon.html.erb", locals: {icon: " fa-smile-o", name: "some other icon", path: "#"} %>
</div>



<%# TODO Remove %>
<!--
<div class="container">
    <div class="row">
             <%= render partial: "student" %>
             <%= render partial: "courses" %>
             <%= render partial: "faculty" %>
    </div>
</div>
<br />

<div class="row">

<div class="col-sm-10 col-sm-offset-1 text-center">

        <div class="panel panel-default manage-tabs manage-students-panel">
            <div class="has-arrow-left">
                <div class="panel-body">
                    <%= render  partial: "students/index" %>
                </div>
            </div>
        </div>
        <div class="panel panel-default manage-tabs manage-courses-panel" style = "display:none;">
            <div class="has-arrow-center">
                <div class="panel-body">
                    <%= render  partial: "courses/index" %>
                </div>
            </div>
        </div>
         <div class="panel panel-default manage-tabs manage-teachers-panel" style = "display:none;">
            <div class="has-arrow-right">
                <div class="panel-body">
                    <%= render  partial: "teachers/index" %>
                </div>
            </div>
        </div>
</div>
-->
