<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= <%= "#" %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-book front-page-icon-font"></i> <br />
                Courses
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a  class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-eye front-page-icon-font"></i> <br />
                View Opted courses 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= "#" %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-book front-page-icon-font"></i> <br />
                Pdf Material
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= <%= "#" %> class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-video-camera front-page-icon-font"></i> <br />
                Vedio Classes
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href=  "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-certificate front-page-icon-font"></i> <br />
                Get certified
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-pencil-square-o front-page-icon-font"></i> <br />
                Write exam
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-calendar front-page-icon-font"></i> <br />
                Schedule Exam
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-flag-checkered front-page-icon-font"></i> <br />
                View Report
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <!-- <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-share-square-o front-page-icon-font"></i> <br />
                Share Your Thoughts
        </a> -->

        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-share-square-o front-page-icon-font"></i> <br />
                Assignments
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-comments-o front-page-icon-font"></i> <br />
                Chat Room 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-users front-page-icon-font"></i> <br />
                Groups
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-sticky-note-o front-page-icon-font"></i> <br />
                Projects
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 
<br />
<div class= "row">
    <div class="col-sm-2 text-center vertical-center col-sm-offset-2">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-fort-awesome front-page-icon-font"></i> <br />
                Upcomming Compitations
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-university front-page-icon-font"></i> <br />
                University syllabus 
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-info-circle front-page-icon-font"></i> <br />
                Mess Helpdesk
        </a>
    </div>
    
    <div class="col-sm-2 text-center vertical-center">
        <a href= "#" class="btn btn-default manage-students"  style ="width:100%">
                <i class="fa fa-wrench front-page-icon-font"></i> <br />
                Your Settings
        </a>
    </div>
    <div class="col-sm-2 text-center vertical-center"></div>
</div> 






<!--
<div class="container">
    <div class="row">
             <%= render partial: "student" %>
             <%= render partial: "courses" %>
             <%= render partial: "faculty" %>
    </div>
</div>
<br />

<div class="row">
    
<div class="col-sm-10 col-sm-offset-1 text-center">
    
        <div class="panel panel-default manage-tabs manage-students-panel">
            <div class="has-arrow-left">
                <div class="panel-body">
                    <%= render  partial: "students/index" %>
                </div>
            </div>
        </div>
        <div class="panel panel-default manage-tabs manage-courses-panel" style = "display:none;">
            <div class="has-arrow-center">
                <div class="panel-body">
                    <%= render  partial: "courses/index" %>
                </div>
            </div>
        </div>
         <div class="panel panel-default manage-tabs manage-teachers-panel" style = "display:none;">
            <div class="has-arrow-right">
                <div class="panel-body">
                    <%= render  partial: "teachers/index" %>
                </div>
            </div>
        </div>
</div>
-->
