<%= form_for(@course_category) do |f| %>
  <% if @course_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_category.errors.count, "error") %> prohibited this course_category from being saved:</h2>

      <ul>
      <% @course_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "col-sm-8 col-sm-offset-2">
  <div class="panel panel-default manage-tabs manage-students-panel">
    <div class="panel-heading default-color">New Course Category</div>
     <div class = "panal-body" style = "margin-left:4%">
       <p id="notice"><%= notice %></p>
       <div class="row form-group">
         <div class="col-sm-6">
           <strong> <%= f.label :name %></strong>
         </div>
         <div class="col-sm-4">
           <%= f.text_field :name , class: "form-control"%>
         </div>
       </div>
        <div class="row form-group">
         <div class="col-sm-6">
           <strong><%= f.label :description %></strong>
         </div>
         <div class="col-sm-4">
           <%= f.text_field :description , class: "form-control"%>
         </div>
       </div>
        <div class="row form-group">
         <div class="col-sm-6">
           <strong><%= f.label :avatar %></strong>
         </div>
         <div class="col-sm-4">
           <%= f.file_field:avatar , class: "form-control"%>
         </div>
       </div>

       <div class="row form-group">
       <div class="col-sm-6 col-sm-6">
            <%= link_to '', course_categories_path,  class: "glyphicon glyphicon-circle-arrow-left" %>

       </div>

         <div class="col-sm-6 col-sm-6">
            <%= f.submit "Submit", class: "btn btn-success"%>

         </div>
       </div>
     </div>
   </div>

  </div>
  <% end %>
