<p id="notice"><%= notice %></p>

<h1>Course Categories</h1>

<table class="table-data table table-striped table-bordered" cellspacing="0" width="100%">
  <thead class="default-color">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @course_categories.each do |course_category| %>
      <tr>
        <td><%= course_category.name %></td>
        <td><%= course_category.description %></td>
        <td><%= link_to 'Show', course_category %></td>
        <td><%= link_to 'Edit', edit_course_category_path(course_category) %></td>
        <td><%= link_to 'Destroy', course_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Category', new_course_category_path,class: "btn btn-default" %>
<%= link_to 'Back', admin_index_path,  class: "btn btn-default" %>
