<p id="notice"><%= notice %></p>

<h1>Course Categories</h1>

<table class="table-data table table-striped table-bordered" cellspacing="0" width="100%">
  <thead class="default-color">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @course_categories.each do |course_category| %>
      <tr>
        <td><%= course_category.name %></td>
        <td><%= course_category.description %></td>
        <td>
          <%= link_to 'Show', course_category, class: "btn btn-info btn-sm white" %>
          <%= link_to 'Edit', edit_course_category_path(course_category),class: "btn btn-primary btn-sm white" %>
          <%= link_to 'Remove', course_category, method: :delete, data: { confirm: 'Are you sure want to remove?' }, class: "btn btn-danger btn-sm white" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', admin_index_path,  class: "btn btn-default" %>
<%= link_to 'Create Course Category', new_course_category_path, class: "btn btn-primary white" %>
