<div id="edubox" class="well">
<% if student? %>
    <h5>
      <%= fa_icon 'fort-awesome' %>
      <%= link_to 'Take Challenge'  %>
   </h5>

    <h5>
      <%= fa_icon 'search' %>
      <%= link_to 'Search Courses'  %>
    </h5>
    <h5>
      <%= fa_icon 'eye' %>
      <%= link_to 'My Courses' %>
    </h5>
<% end %>
</div>