<%= render partial: "concept" %>
<div class="container">
    <div class="row" class="col-lg-12">
        <%= render partial: "student" %>
        <%= render partial: "others" %>
        <%= render partial: "faculty" %>
    </div>
</div>
<%= render partial: "other_products" %>
<%= render partial: "news_feeds" %>