<div class="row">
  <!--
  <div class="col-sm-3">
    <%= render 'shared/user_info' %>
    <%= render 'shared/educationbox' %>
  </div>
  -->
  <div id="newsfeed" class="col-sm-12">
    <%= render 'posts/form' if college?%>
    <br>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <!--
  <div class="col-sm-3">
    <%#= render 'shared/links' %>
  </div>
  -->
</div>
