<%= form_for(@course_attachment, html: { id: 'course_category_form' }) do |f| %>
  <% if @course_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_attachment.errors.count, "error") %> prohibited this course_attachment from being saved:</h2>

      <ul>
      <% @course_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-8">
    <div class="panel panel-default manage-tabs manage-students-panel">
      <div class="panel-heading default-color">New Course Attachment</div>
       <div class = "panal-body" style = "margin-left: 4%">
        <div class="row form-group">
          <div class="col-sm-4">
            <strong> <%= f.label :course_id %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.select :course_id, options_for_select(courses_list), { prompt: 'Please select' }, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <strong><%= f.label :attachment %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.file_field :attachment, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <%= link_to '', course_attachments_path,  class: "glyphicon glyphicon-circle-arrow-left" %>
          </div>
          <div class="col-sm-6 col-sm-6">
            <%= f.submit "Submit", class: "btn btn-success" %>
           </div>
         </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  validateCourseAttachment('course_category_form');
</script>
