<%= form_for(@course, html: { id: 'create_course' }) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class = "col-sm-8 col-sm-offset-2">
   <div class="panel panel-default manage-tabs manage-students-panel">
     <div class="panel-heading default-color"> Course Information</div>
      <div class = "panal-body" style = "margin-left:4%">
        <p id="notice"><%= notice %></p>
        <div class="row">
          <small>All fields are necessary</small>
        </div>
        <br>
        <div class="row form-group">
          <div class="col-sm-6">
            <strong> <%= f.label :course_name %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :course_name, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :course_description %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :course_description, class: "form-control" %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :author %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :author, class: "form-control" %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :duration %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :duration, class: "form-control" %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :course_cost %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :course_cost, class: "form-control" %>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-sm-6">
            <strong><%= f.label :course_category %></strong>
          </div>
          <div class="col-sm-4">
            <%= f.collection_select(:course_category_id, CourseCategory.all, :id, :name, { include_hidden: false, prompt: true }, class: "form-control") %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6 col-sm-6">
            <%= link_to '', courses_path, class: "glyphicon glyphicon-circle-arrow-left" %>
          </div>
          <div class="col-sm-6 col-sm-6">
             <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<script type="text/javascript">
  validateCourse('create_course');
</script>
